.cards-main{
    height: 300px;
    width: 24%;
    border: solid 1px #fff;
    border-radius: 16px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-main.current{
    border-color: #1173FC;
}

.cards-title{
    font-weight: 500;
    font-size: 30px;
}

.cards-text{
    font-weight: 500;
    font-size: 18px;
    flex: 1;
    display: flex;
    align-items: end;
}

.cards-days{
    margin-top: 40px;
    color: #90A4AE;
}

@media(width<500px){
    .cards-title{
        font-size: 14px;
    }

    .cards-main{
        width: 100%;
        height: 200px;
        background: #1B1F26B8;
        border-color: #1B1F26B8;
        margin-bottom: 8px;
    }

    .cards-main.current{
        border-color: #1173FC;
        background: #1173FC;
    }

    .rotating-div {
        width: 28px;
        height: 28px;
    }
}