.container-a {
    height: var(--app-height);
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.about-content {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

.mainHeading {
    color: #fff;
    font-size: 49px;
    font-weight: 500;
    line-height: 1;
    width: 920px;
    margin: 0;
}

.description-a {
    color: #90a4ae;
    font-size: 20px;
    line-height: 1.6;
    max-width: 920px;
    margin: 0 auto;
}

.buttonContainer {
    padding-top: 1rem;
}

.ctaButton-i {
    background-color: #1173fc;
    color: white;
    padding: 0.75rem 2rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


@media(width<500px){
    .container-a {
        padding: 10px 10px;
        height: fit-content;
        padding-bottom: 178px;
    }

    .header {
        font-size: 20px;

    }

    .mainHeading {
        width: auto;
        font-size: 31px;
        font-weight: 700;
    }

    .description-a{
        font-size: 16px;
    }
}


