:root{
    interpolate-size: allow-keywords;
}

.agents-section {
    display: flex;
    height: 100vh;
    background-color: #000;
    color: white;
    padding: 22px;
    padding-top: 235px;
    padding-bottom: 235px;
    justify-content: space-between;
}

.agents-left {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
}

.agents-right {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.accordion-item {
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 22px;
    padding-top: 22px;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
    flex: 1;
    overflow: hidden;
    font-size: 25px;
}


.accordion-content {
    transform-origin: 0 0;
    transition: .2s;
    color: #90A4AE;
    font-size: 20px;
    line-height: 1.4;
    height: 0;
    overflow: hidden;
    font-weight: 500;
}

.accordion-content.open{
    height: auto;
    margin-top: 22px;
}

.arrow {
    transition: transform 0.3s ease;
    color: #1173FC;
    transform-origin: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow.open {
    transform: rotate(180deg);
}

@media (width < 500px) {
    .agents-section{
        flex-direction: column;
        padding: 10px;
        height: 78vh;
        justify-content: initial;
    }

    .agents-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 40px;
    }

    .agents-left h1{
        font-size: 31px;
        text-align: center;
    }

    .accordion-header{
        font-size: 20px;
        font-weight: 500;
    }

    .accordion-item{
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .accordion-content{

    }



    .accordion-content.open{
        margin-top: 16px;
    }
}
