.foot-main{
    width: 100vw;
    height: var(--app-height);
    background: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foot-foot{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}



a{
    margin-left: 124px;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
}

.copy{
    font-size: 20px;
    font-weight: 400;
}

@media(width<500px){
    .foot-main{
        padding: 10px;
    }

    .foot-foot{
        flex-direction: column-reverse;
        align-items: center;
    }

    a{
        margin-left: 0;
    }

    .social-f{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .copy{
        margin-top: 40px;
    }
}