.hero-main{
    height: var(--app-height);
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 0;
}

video {
    /*width: 100%;*/
    width: 100%;
    height: 74%;
    object-fit: contain;
    margin-top: 100px;
}

.hero-but{
    background-color: #1173fc;
    color: white;
    padding: 0.75rem 2rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-left: 40px;
    margin-top: 10px;
    width: 181px;
}

.hero-but.try{
    height: 46px;
    background: transparent;
    border: 1px solid #fff;
    box-sizing: border-box;
}

@media (width<500px){
    video{
        border-radius: 8px;
        height: auto;
    }

    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 191px;
    }

    .hero-but{
        height: 38px;
        padding: 0;
        margin-top: 16px;
        margin-left: 0;
    }

    .hero-but.contact{
        margin-top: 16px;
    }

    .hero-but.try{
        height: 38px;
    }

}