.inter-main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle-container {
    position: absolute;
    width: 600px;
    height: 600px;
    animation: rotate 90s linear infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    margin-top: 500px;
}

.rotating-div {
    position: absolute;
    width: 132px;
    height: 132px;
    transition: all 0.3s ease;
    rotate: 90deg;
    z-index: 100000;
}

.center-content {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white;
    padding: 40px;
}

.center-content h2 {
    font-size: 40px;
    margin: 0 0 20px 0;
    font-weight: 500;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.center-content p {
    font-size: 1.2rem;
    margin: 0 0 30px 0;
    opacity: 0.9;
    font-weight: 300;
}

.center-button {
    background-color: #1173fc;
    color: white;
    padding: 0.75rem 2rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


.fade{
    height: 400px;
    width: 100%;
    background: linear-gradient(transparent, #000 40%);
    position: absolute;
    bottom: 0;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (width<500px) {
    .inter-main {
        padding: 10px;
        height: 130vh;
    }
    .center-content{
        width: 100%;
        padding: 0;
        position: absolute;
        top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .center-content h2{
        font-size: 31px;
    }

    .circle-container{
        width: 400px;
        height: 400px;
        margin-left: 500px;
        margin-top: 400px;
        top: 0;
    }

    .fade{
        display: none;
    }

    .rotating-div{
        height: 90px;
        width: 90px;
    }
}