.str-main{
    height: 100vh;
    background: #000;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.str-h h1{
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    width: 100%;
}

.str-h{
    width: 100%;
}

.str-b{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-top: 85px;
    width: 100%;
    column-gap: 120px;
}


.str-elem{
    display: flex;
    justify-content: space-between;
    height: 90px;
    margin-bottom: 140px;
    align-items: center;
}

.elem-t{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    width: 189px;
}

.elem-de {
    font-weight: 400;
    font-size: 20px;
    flex: 1;
    width: 332px;
    margin-left: 80px;
}

.str-b img{
    width: 32px;
    height: 32px;
}

.t-holder{
    display: flex;
    align-items: center;
}

@media (width < 500px){
    .str-main{
        padding: 20px;
        height: 130vh;
    }

    .str-b{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-top: 48px;
    }

    .str-elem{
        height: auto;
        flex-direction: column;
        margin-bottom: 32px;
        align-items: start;

    }

    .elem-t{
        font-weight: 700;
        font-size: 16px;
        width: 300px;
        margin-left: 16px;
    }

    .elem-de {
        font-weight: 400;
        font-size: 16px;
        flex: 1;
        color: #90a4ae;
        margin-left: 0;
        margin-top: 16px;
    }

    .str-h h1{
        color: #fff;
        font-size: 32px;
        font-weight: 700;
        width: 100%;
    }

    .str-b img{
        width: 20px;
        height: 20px;
    }


}